/*MENU*/
body {
    margin: 10;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav h1{
    font-size: 30px;
    padding-left: 40px;
    padding-top: 50px;
}

header {
    background-color: gray;
    color: #fff;
    padding: 10px;

}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline; /* Hace que los ítems del menú estén en una línea horizontal */
    margin-right: 45px; /* Espacio entre los ítems del menú */
}

nav a {
    text-decoration: none;
    color: #eaf0ee;
    font-size: 20px;
}

nav a:hover {
    text-decoration: underline;
}

h1{
    margin-top: 1%;
    font-size: 50px;
}
img{
    float: left;
    margin-right: 3%;
    margin-left: 5%;
}
.texto{
    margin-right: 4%;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    

}
.texto1{
    margin-top: 52%;
    text-align: justify;
    margin-left: 5%;
    margin-right: 4%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

}

.titulo{
    margin-left: 20%;
    margin-bottom: 0%;
    
}

.Analisis{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15;
    margin-top: -1%;
}

.video{
    margin-top: 38%;
}
